DATABASE_URL="postgresql://postgres:postgres123@localhost:5432/tooth_truth_db?schema=public"
JWT_SECRET="your-jwt-secret-key-here-change-in-production"
JWT_REFRESH_SECRET="your-refresh-secret-key-here-change-in-production"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"
PORT=3001
NODE_ENV="development"
FRONTEND_URL="http://localhost:3000"


GOOGLE_CLIENT_ID= 'asdf'
GOOGLE_CLIENT_SECRET= 'asd'
GOOGLE_CALLBACK_URL= 'http://localhost:3001/api/auth/google/callback'